<ul class="social-media-list">
  <li><a href="https://github.com/TheTorProject/"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">TheTorProject</span></a></li>
  <li><a href="https://github.com/freenet/"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">freenet</span></a></li>
  <li><a href="https://github.com/i2p/"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">i2p</span></a></li>
</ul>
